MetroSimulation.Observer.UI/Connected Services/SRT/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TrainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITrainObserverService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="72010000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MetroSimulation.Train" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrainObserverService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="ITrainObserverService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainObserverService_GetTrainInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainInfo" />
  </wsdl:message>
  <wsdl:message name="ITrainObserverService_GetTrainInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainObserverService_GetTrainPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainPosition" />
  </wsdl:message>
  <wsdl:message name="ITrainObserverService_GetTrainPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainPositionResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainObserverService_SetTrainPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTrainPosition" />
  </wsdl:message>
  <wsdl:message name="ITrainObserverService_SetPassengers_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPassengers" />
  </wsdl:message>
  <wsdl:message name="ITrainObserverService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="ITrainObserverService_ReciveTrainInfo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReciveTrainInfo" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ITrainObserverService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainObserverService/Connect" message="tns:ITrainObserverService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainObserverService/ConnectResponse" message="tns:ITrainObserverService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetTrainInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainObserverService/GetTrainInfo" message="tns:ITrainObserverService_GetTrainInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainObserverService/GetTrainInfoResponse" message="tns:ITrainObserverService_GetTrainInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetTrainPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainObserverService/GetTrainPosition" message="tns:ITrainObserverService_GetTrainPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainObserverService/GetTrainPositionResponse" message="tns:ITrainObserverService_GetTrainPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetTrainPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainObserverService/SetTrainPosition" message="tns:ITrainObserverService_SetTrainPosition_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetPassengers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainObserverService/SetPassengers" message="tns:ITrainObserverService_SetPassengers_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainObserverService/Disconnect" message="tns:ITrainObserverService_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReciveTrainInfo">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainObserverService/ReciveTrainInfo" message="tns:ITrainObserverService_ReciveTrainInfo_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITrainObserverService" type="tns:ITrainObserverService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITrainObserverService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/ITrainObserverService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrainInfo">
      <soap12:operation soapAction="http://tempuri.org/ITrainObserverService/GetTrainInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrainPosition">
      <soap12:operation soapAction="http://tempuri.org/ITrainObserverService/GetTrainPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTrainPosition">
      <soap12:operation soapAction="http://tempuri.org/ITrainObserverService/SetTrainPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetPassengers">
      <soap12:operation soapAction="http://tempuri.org/ITrainObserverService/SetPassengers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/ITrainObserverService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReciveTrainInfo">
      <soap12:operation soapAction="http://tempuri.org/ITrainObserverService/ReciveTrainInfo" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrainService">
    <wsdl:port name="NetTcpBinding_ITrainObserverService" binding="tns:NetTcpBinding_ITrainObserverService">
      <soap12:address location="net.tcp://localhost:7997/Host/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7997/Host/tcp</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>